* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 600px;
  height: auto;
  padding: 2.6rem;
  background-color: rgb(120, 255, 255);
  margin: 150px auto;
  border-radius: 12px;
}
 
body{
    background-color: black;
    
}
.box-1 {
  max-width: 600px;
  height: auto;
  padding: 1.3rem;
}

.questions {
  color: black;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  margin: auto 25px;
  background-color: rgb(225, 255, 27);
  font-size: 1.5rem;
  padding: 1.5rem;
border-radius: 12px;
letter-spacing: 1.12px;
}
.option-button {
  margin: auto 15px;
  font-size: 1.8rem;
}
.button {
  background-color: black;
  color: wheat;
  padding: 1.2rem;
  border-radius: 12px;
  text-align: center;
}

