* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  height: auto;
  max-width: 1200px;
  /* background-color: rgb(88, 213, 213); */
}

.boxes {
  background-color: aliceblue;
  padding: 1.8rem;
  display: inline-block;
  row-gap: 25px;
  color: black;
}

.boxes button {
  border-radius: 12px;
  border: none;
  width: 150px;
  padding: 0.5em;
  display: flex;
  font-size: 1rem;
  background-color: aqua;
  margin-top: 15px;
}
.boxes img {
  border-radius: 14px;
  cursor: pointer;
}

.boxes img:hover {
  transform: translateX(1px) scale(0.9);
  transition: all 1s;
  z-index: -12212;
}

.header-logo {
  color: black;
  font-weight: bolder;
  font-size: 2.1rem;
  text-align: center;
}
.search-box {
  display: inline-flex;
}
.search-box input {
  border-radius: 16px;
  padding: 0.4rem;
  border: 2px solid blue;
  font-size: 1.2rem;
  padding: 1.6rem;
}
.search-box input[type="text"] {
  width: 1100px;
  margin: 0px 0px 0px 55px;
  height: auto;
}
.search-icons i {
  margin-left: -50px;
  margin-top: 20px;
  cursor: pointer;
}

::placeholder {
  color: black;
  font-size: 1rem;
}

.box-1 img {
  width: 38vh;
  height: 20vh;
  flex-wrap: wrap;
}

/* modal box appear */
.modalbox {
max-width: 430px;
  height: auto;
  padding: 1.3rem;
  border-radius: 11px;
  border: 2px solid black;
  width: 50%;
position: fixed;
  top: 20%;
  left: 39%;
  z-index: 15151;
  visibility: hidden;
  background-color: rgb(255, 255, 255);
}
.close-receipe-button .fa-close {
  font-size: 1.1em;
  color: black;
  float: right;
  cursor: pointer;

}
 