@tailwind base;
@tailwind components;
@tailwind utilities;
@media screen and (max-width:768px) {
    .videoweb {
        height: auto;
        width: auto;
        flex-wrap: wrap;
        display: block;
    }
}